<h1> <%= @restaurant.name %> </h1> <br>
<h3>Catégorie :<%= @restaurant.category%></h3>
<br> Numéro de tel : <%= @restaurant.phone_number%> --- Adresse : <%= @restaurant.address%>
<br>
<%= link_to "back to list of restaurants", restaurants_path, class: "btn btn-primary" %>

<p><strong>Reviews</strong></p>
<p><%= link_to "Add your own review",   new_restaurant_review_path(@restaurant) %></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> <%= review.rating %></li>
  <% end %>
</ul>
<br>
